<mat-toolbar color="primary">
  <span class="flex-1 text-lg font-semibold">Clínica Veterinária <mat-icon>home</mat-icon></span>
  <button mat-button *ngIf="usuario" routerLink="/tutores" routerLinkActive="nav-active" class="nav-link">
    <mat-icon>people</mat-icon>
    <span>Tutores</span>
  </button>
  <button mat-button *ngIf="usuario" routerLink="/pets" routerLinkActive="nav-active" class="nav-link">
    <mat-icon>pets</mat-icon>
    <span>Pets</span>
  </button>
  <button mat-button *ngIf="usuario" routerLink="/agendamentos" routerLinkActive="nav-active" class="nav-link">
    <mat-icon>event</mat-icon>
    <span>Agendamentos</span>
  </button>
  <button mat-button *ngIf="usuario" (click)="logout()" class="nav-link">
    <mat-icon>exit_to_app</mat-icon>
    <span>Sair</span>
  </button>
</mat-toolbar>

<div class="container mx-auto p-4">
  <router-outlet></router-outlet>
</div>